<form method="post" action="/memos/<%= @memo.id %>">
  <div>
    <label>
      タイトル
      <input type="text" name="title" value="<%= @memo.title %>" required>
    </label>
  </div>
  <div>
    <label>
      内容
      <textarea name="content" required><%= @memo.content %></textarea>
    </label>
  </div>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <button class="button" type="submit">送信</button>
</form>
