input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
h1 a {
  text-decoration: none;
}

li a {
  text-decoration: underline;
  color:black;
}

div{
  margin: 1em;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.button {
  font-size: 15px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  margin: 0.3em;
}

.button:hover {
  background: #67c5ff;
  color: white;
}
